.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "left content right"
    "footer footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: lightblue;
}

nav {
  grid-area: menu;
  background-color: lightgoldenrodyellow;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.left {
  grid-area: left;
  background-color: lightgreen;
}

.content {
  grid-area: content;
  background-color: lightblue;
}

.right {
  grid-area: right;
  background-color: lightgreen;
}

footer {
  grid-area: footer;
  background-color: lightblue;
}
